#access_connexion, #contenu_inscription {
	margin: auto;
	padding: 10px;
	text-align: center;
	border: 1px solid black;
	width: 450px;
}

label {
	display: inline-block;
	width: 85px;
	text-align: right;
	margin-right: 5px;
}

input {
	margin: 5px;
}

.creation_compte {
	font-size: 13px;
}

/* Page d'inscription */

 #contenu_inscription {
	width: 450px;
}

.lab_inscription {
	width: 200px
}